$PrimaryColor: #ccde02;
$HoverColor: #0bc3f1;
$PrimaryRgbColor: rgb(204, 222, 2);

$desk-md-screen: 1199px;
$desk-sm-screen: 992px; 
$desk-xs-screen: 991px;
$tablet-xs-screen: 767px;
$mobile-sm-screen: 575px;
$mobile-xs-screen: 479px;